.github-login {
    background-color: #24292e;
    
}

.btn-auth {
    display: flex;
    align-items: center;
    color: white;
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 2rem;
    justify-content: center;
}

.btn-back {
    display: flex;
    align-items: center;
    color: #3b3bf9;
    border: 1px solid #3b87f9;
    margin-top: 15px;
}